<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="14"/>
                <entry key="0" type="xstring" value="antecedentes_familiares"/>
                <entry key="1" type="xstring" value="niveles_insulina"/>
                <entry key="2" type="xstring" value="edad"/>
                <entry key="3" type="xstring" value="imc"/>
                <entry key="4" type="xstring" value="actividad_fisica"/>
                <entry key="5" type="xstring" value="habitos_dieteticos"/>
                <entry key="6" type="xstring" value="presion_sanguinea"/>
                <entry key="7" type="xstring" value="niveles_colesterol"/>
                <entry key="8" type="xstring" value="talla"/>
                <entry key="9" type="xstring" value="niveles_glucosa"/>
                <entry key="10" type="xstring" value="tabaquismo"/>
                <entry key="11" type="xstring" value="consumo_alcohol"/>
                <entry key="12" type="xstring" value="tolerancia_glucosa"/>
                <entry key="13" type="xstring" value="salud_pancreatica"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="14"/>
                <entry key="0" type="xstring" value="Tipo"/>
                <entry key="1" type="xstring" value="marcadores_geneticos"/>
                <entry key="2" type="xstring" value="autoanticuerpos"/>
                <entry key="3" type="xstring" value="factores_ambientales"/>
                <entry key="4" type="xstring" value="origen_etnico"/>
                <entry key="5" type="xstring" value="factores_socioeconomicos"/>
                <entry key="6" type="xstring" value="sindrome_ovario_poliquistico"/>
                <entry key="7" type="xstring" value="diabetes_gestacional"/>
                <entry key="8" type="xstring" value="tipo_embarazo"/>
                <entry key="9" type="xstring" value="aumento_peso_embarazo"/>
                <entry key="10" type="xstring" value="niveles_de_encimas_digestiva"/>
                <entry key="11" type="xstring" value="analisis_orina"/>
                <entry key="12" type="xstring" value="peso_nacimiento"/>
                <entry key="13" type="xstring" value="sintomas_de_inicio_temprano"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.4.v202504301443"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.4.v202504301443"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Filter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 598, Cols: 14"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="fdf818ec-3b40-4c27-82ca-e9285a59e739"/>
    </config>
</config>
